@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    overflow: hidden;
}
/* menu UI */

img {
    width: 350px;
    margin: 40px;
}

#starting-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 35px;
    background-color: #000;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    border: 2px solid #ffffff;
    border-radius: 3px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    padding: 0px 10px;
}

button:hover {
    cursor: pointer;
    background-color: #00b1ff;
    border-color: #00b1ff;
}

.select-btn {
    width: 90px;
}

#keybeats .select-btn:hover {
    background-color: #00b1ff;
    border-color: #00b1ff;
}

#for-my-girl .select-btn:hover {
    background-color: #d350cc;
    border-color: #d350cc;
}

#funk-that .select-btn:hover {
    background-color: #11955e;
    border-color: #11955e;
}

#space-cowboy .select-btn:hover {
    background-color: #95112e;
    border-color: #95112e;
}

#starting-screen div {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid #333;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(0,0,0,0.5) 100%);
    transition: background 1s ease;
    -moz-transition: background 1s ease;
    -webkit-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    z-index: 1;
}

#starting-screen div#keybeats::before,
#starting-screen div#for-my-girl::before,
#starting-screen div#funk-that::before,
#starting-screen div#space-cowboy::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.5s linear;
    opacity: 0;
    z-index: -1;
}

#starting-screen div#keybeats::before {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(0,177,255,0.5) 100%);
}

#starting-screen div#for-my-girl::before {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(211,80,204,0.5) 100%);
}

#starting-screen div#funk-that::before {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(17,149,94,0.5) 100%);
}

#starting-screen div#space-cowboy::before {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(149,17,46,0.5) 100%);
}

#starting-screen div#keybeats:hover::before,
#starting-screen div#for-my-girl:hover::before,
#starting-screen div#funk-that:hover::before,
#starting-screen div#space-cowboy:hover::before {
    opacity: 1;
}

#starting-screen div p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    display: block;
    width: 350px;
}

#audio-wave {
    position: absolute;
    left: 150px;
    top: 120px;
    opacity: 0.5;
}

.hit {
    position: absolute;
    z-index: 1000;
    color: lightcyan;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px rgba(142,204,206,0.87);
    font-size: 38px;
    text-align: center;
    width: 200px;
    top: 400px;
    left: 500px;
}

@keyframes fadeHit {
    0% { top: 400px; opacity: 1; }
    100% { top: 390px; opacity: 0; }
}

#game {
    display: none;
    width: 1200px;
    height: 768px;
    margin: 0 auto;
    position: relative;
}

body {
    background: #000;
    position: relative;
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
    
    min-width: 1200px;
    min-height: 768px;
}

/* Game */

#track {
    height: 520px;
    width: 200px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(17, 81, 149) 100%);
    box-shadow: 0px -2px 3px 3px rgba(160,216,255,0.6);
    -webkit-transform: perspective(320px) rotateX(40deg);
    transform: perspective(320px) rotateX(40deg);
    margin: 0 auto;
    position: relative;
    top: -130px;
    z-index: 10;
}

#hit-box {
    position: absolute;
    width: 200px;
    height: 7px;
    background-color: #e0ffff;
    top: 513px;
    box-shadow: 0px 0px 6px 2px rgba(160,216,255,0.6);
}

.track {
    position: absolute;
    height: 520px;
    width: 4px;
    top: 0;
    background-color: lightcyan;
    box-shadow: 0px 0px 6px 1px rgba(160,216,255,0.6);
}

#a-track { left: calc(20% - 2px); }
#s-track { left: calc(40% - 2px); }
#d-track { left: calc(60% - 2px); }
#f-track { left: calc(80% - 2px); }

.note {
    position: absolute;
    width: 30px;
    height: 7px;
    top: -70px;
    left: -13px;
    background-color: lightcyan;
    box-shadow: 0px 0px 6px 1px rgba(160,216,255,0.6);
}

@keyframes moveNote {
    0% { top: 0px }
    100% { top: 513px }
}

/* score, combo, controls, progress bar */

#meter { 
    height: 4px;
    width: 900px;
    position: absolute;
    background: #145991;
    top: 15px;
    left: 150px;
    z-index: 3500;
    opacity: 90%;
}

#meter span {
    display: block;
    height: 100%;
}

#progress {
    background-color: #e0ffff;
    width: 0;
    box-shadow: 0px 0px 6px 2px rgba(160,216,255,0.6);
}

@keyframes progressBar {
  0% { width: 0%; }
  100% { width: 100%; }
}

#score,
#controls,
#combo {
    text-shadow: 0px 0px 5px rgba(142,204,206,0.87);
    z-index: 2;
    font-family: sans-serif;
}

.letters {
    color: #d2ecff;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 1px rgba(160,216,255,0.6);
    line-height: 65px;
    padding: 0;
    border: solid 3px lightcyan;  
}

.letters.pressed {
    background: #d2ecff;
    color: #000;
    text-shadow: 0px 0px 5px rgba(17, 81, 149,0.6);
}

#score,
#combo {
    color: #e0ffff;
    font-weight: 600;
    width: 300px;
    position: absolute;
    bottom: 130px;
}

#score {
    text-align: right;
}

#combo {
    right: 0;
}


.text {
    font-size: 16px;
}

.number {
    font-size: 48px;
}

#controls {
    width: 350px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
}


/* =============================================================================
| TRANSITION ELEMENTS
! This does not work...
============================================================================= */
/* #game {
    -webkit-transition: all s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear;
}
#game #track {
    -webkit-transition: background 1s linear, box-shadow 1s linear;
    -moz-transition: background 1s linear, box-shadow 1s linear;
    transition: background 1s linear, box-shadow 1s linear;
}

#game #track .track,
#game #track .track .note,
#game #track #hit-box,
#game #progress {
    -webkit-transition: background-color 1s linear, box-shadow 1s linear;
    -moz-transition: background-color 1s linear, box-shadow 1s linear;
    transition: background-color 1s linear, box-shadow 1s linear;
}

#game #track .track,
#game #track #hit-box,
#game #track .track .note,
#game #progress {
    -webkit-transition: box-shadow 1s linear;
    -moz-transition: box-shadow 1s linear;
    transition: box-shadow 1s linear;
}

#game #controls .letters {
    -webkit-transition: color 1s linear, border 1s linear, text-shadow 1s linear;
    -moz-transition: color 1s linear, border 1s linear, text-shadow 1s linear;
    transition: color 1s linear, border 1s linear, text-shadow 1s linear;
}

#game #controls .letters.pressed {
    -webkit-transition: color 1s linear, background 1s linear, text-shadow 1s linear;
    -moz-transition: color 1s linear, background 1s linear, text-shadow 1s linear;
    transition: color 1s linear, text-shadow 1s linear;
}

#game #score,
#game #combo,
#game .hit {
    -webkit-transition: color 1s linear, text-shadow 1s linear;
    -moz-transition: color 1s linear, text-shadow 1s linear;
    transition: color 1s linear, text-shadow 1s linear;
}

#game #meter {
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    transition: background-color 1s linear;
} */

/* =============================================================================
| RED COLOR STYLES
============================================================================= */
#game.red #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(149, 17, 46) 100%);
    box-shadow: 0px -2px 3px 3px rgba(255, 160, 184, 0.6);
}

#game.red #track .track,
#game.red #track .track .note,
#game.red #track #hit-box,
#game.red #progress {
    background-color: #fff1f7;
}

#game.red #track .track {
    box-shadow: 0px -2px 3px 3px rgba(255, 160, 184, 0.6);
}

#game.red #track #hit-box,
#game.red #track .track .note,
#game.red #progress {
    box-shadow: 0px 0px 6px 2px rgba(255, 160, 184, 0.6);
}

#game.red #controls .letters {
    color: #fff1f7;
    border: solid 3px #fff1f7;
    text-shadow: 0px 0px 5px rgba(255, 160, 184, 0.8);
}

#game.red #controls .letters.pressed {
    background: #fff1f7;
    color: #000;
    text-shadow: 0px 0px 5px #95112e;
}

#game.red #score,
#game.red #combo,
#game.red .hit {
    color: #fff1f7;
    text-shadow: 0px 0px 5px rgba(255, 160, 184, 0.8);
}

#game.red #meter {
    background-color: #95112e;
}

/* =============================================================================
| PINK COLOR STYLES
============================================================================= */
#game.pink #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(211, 80, 204) 100%);
    box-shadow: 0px -2px 3px 3px rgba(255, 160, 250, 0.6);
}

#game.pink #track .track,
#game.pink #track .track .note,
#game.pink #track #hit-box,
#game.pink #progress {
    background-color: #fdf1ff;
}

#game.pink #track .track {
    box-shadow: 0px -2px 3px 3px rgba(255, 160, 250, 0.6);
}

#game.pink #track #hit-box,
#game.pink #track .track .note,
#game.pink #progress {
    box-shadow: 0px 0px 6px 2px rgba(255, 160, 250, 0.6);
}

#game.pink #controls .letters {
    color: #fdf1ff;
    border: solid 3px #fdf1ff;
    text-shadow: 0px 0px 5px rgba(255, 160, 250, 0.8);
}

#game.pink #controls .letters.pressed {
    background: #fdf1ff;
    color: #000;
    text-shadow: 0px 0px 5px #d350cc;
}

#game.pink #score,
#game.pink #combo,
#game.pink .hit {
    color: #fdf1ff;
    text-shadow: 0px 0px 5px rgba(255, 160, 250, 0.8);
}

#game.pink #meter {
    background-color: #d350cc;
}

/* =============================================================================
| GREEN COLOR STYLES
============================================================================= */
#game.green #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(17, 149, 94) 100%);
    box-shadow: 0px -2px 3px 3px rgba(160, 255, 219, 0.6);
}

#game.green #track .track,
#game.green #track .track .note,
#game.green #track #hit-box,
#game.green #progress {
    background-color: #f1fffa;
}

#game.green #track .track {
    box-shadow: 0px -2px 3px 3px rgba(160, 255, 219, 0.6);
}

#game.green #track #hit-box,
#game.green #track .track .note,
#game.green #progress {
    box-shadow: 0px 0px 6px 2px rgba(160, 255, 219, 0.6);
}

#game.green #controls .letters {
    color: #f1fffa;
    border: solid 3px #f1fffa;
    text-shadow: 0px 0px 5px rgba(160, 255, 219, 0.8);
}

#game.green #controls .letters.pressed {
    background: #f1fffa;
    color: #000;
    text-shadow: 0px 0px 5px #11955e;
}

#game.green #score,
#game.green #combo,
#game.green .hit {
    color: #f1fffa;
    text-shadow: 0px 0px 5px rgba(160, 255, 219, 0.8);
}

#game.green #meter {
    background-color: #11955e;
}

/* #00B1FF */
/* =============================================================================
| BLUE COLOR STYLES
============================================================================= */
#game.blue #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(0, 177, 255) 100%);
    box-shadow: 0px -2px 3px 3px rgba(160, 225, 255, 0.6);
}

#game.blue #track .track,
#game.blue #track .track .note,
#game.blue #track #hit-box,
#game.blue #progress {
    background-color: #f1faff;
}

#game.blue #track .track {
    box-shadow: 0px -2px 3px 3px rgba(160, 225, 255, 0.6);
}

#game.blue #track #hit-box,
#game.blue #track .track .note,
#game.blue #progress {
    box-shadow: 0px 0px 6px 2px rgba(160, 225, 255, 0.6);
}

#game.blue #controls .letters {
    color: #f1faff;
    border: solid 3px #f1faff;
    text-shadow: 0px 0px 5px rgba(160, 225, 255, 0.8);
}

#game.blue #controls .letters.pressed {
    background: #f1faff;
    color: #000;
    text-shadow: 0px 0px 5px #00b1ff;
}

#game.blue #score,
#game.blue #combo,
#game.blue .hit {
    color: #f1faff;
    text-shadow: 0px 0px 5px rgba(160, 225, 255, 0.8);
}

#game.blue #meter {
    background-color: #00b1ff;
}

/* =============================================================================
| BLACK COLOR STYLES
============================================================================= */
#game.black #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(92, 92, 92) 100%);
    box-shadow: 0px -2px 3px 3px rgba(206, 206, 206, 0.6);
}

#game.black #track .track,
#game.black #track .track .note,
#game.black #track #hit-box,
#game.black #progress {
    background-color: #f3f3f3;
}

#game.black #track .track {
    box-shadow: 0px -2px 3px 3px rgba(206, 206, 206, 0.6);
}

#game.black #track #hit-box,
#game.black #track .track .note,
#game.black #progress {
    box-shadow: 0px 0px 6px 2px rgba(206, 206, 206, 0.6);
}

#game.black #controls .letters {
    color: #f3f3f3;
    border: solid 3px #f3f3f3;
    text-shadow: 0px 0px 5px rgba(206, 206, 206, 0.8);
}

#game.black #controls .letters.pressed {
    background: #f3f3f3;
    color: #000;
    text-shadow: 0px 0px 5px #494949;
}

#game.black #score,
#game.black #combo,
#game.black .hit {
    color: #f3f3f3;
    text-shadow: 0px 0px 5px rgba(206, 206, 206, 0.8);
}

#game.black #meter {
    background-color: #494949;
}

/* game over modal */

#game-over {
    position: absolute;
    background: #000;
    border: 5px solid #fff;
    width: 500px;
    top: 200px;
    left: 345px;
    padding-bottom: 30px;
    z-index: 20;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* results page */

#results {
    color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

#results img {
    width: 200px;
}

#results header,
#results #highscores {
    width: 700px;
    display: flex;
}

#results header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#results #highscores {
    flex-direction: column;
}

#results #highscores .score-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid ;
}

#results #highscores .score-item p {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

#results #highscores .score-item.new {
    color: #00b1ff;
}

#results #highscores .score-item .rank-num {
    width: 75px;
}

#results #highscores .score-item .song-name {
    width: 300px;
}

#results #highscores .score-item .difficulty {
    width: 75px;
    text-transform: capitalize;
}

#results #highscores .score-item .combo-streak {
    width: 75px;
    text-align: right;
}

#results #highscores .score-item .score {
    width: 120px;
    text-align: right;
}