/* menu UI */

img {
    width: 200px;
}

#starting-screen div {
    display:flex;
    justify-content: space-between;
    width: 400px
}

#audio-wave {
    position: absolute;
    left: calc(100vw / 2 - 450px);
    top: 100px;
    opacity: 0.5;
}

.hit {
    position: absolute;
    z-index: 1000;
    color: lightcyan;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px rgba(142,204,206,0.87);
    font-size: 38px;
    text-align: center;
    width: 200px;
    top: 400px;
    left: 500px;
}

@keyframes fadeHit {
    0% { top: 400px; opacity: 1; }
    100% { top: 390px; opacity: 0; }
}

#game {
    width: 1200px;
    height: 768px;
    margin: 0 auto;
    position: relative;
}

body {
    background: #000;
    position: relative;
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
    
    min-width: 1200px;
    min-height: 768px;
}

/* Overlays */
#normal {
    background-color: #04015e;
}

#hard {
    background-color: #ff217a;
}

#losing {
    background-color: #000000;
}

/* Game */

#track {
    height: 520px;
    width: 200px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(17, 81, 149) 100%);
    box-shadow: 0px -2px 3px 3px rgba(160,216,255,0.6);
    -webkit-transform: perspective(320px) rotateX(40deg);
    transform: perspective(320px) rotateX(40deg);
    margin: 0 auto;
    position: relative;
    top: -130px;
    z-index: 10;
}

#hit-box {
    position: absolute;
    width: 200px;
    height: 7px;
    background-color: #e0ffff;
    top: 513px;
    box-shadow: 0px 0px 6px 2px rgba(160,216,255,0.6);
}

.track {
    position: absolute;
    height: 520px;
    width: 4px;
    top: 0;
    background-color: lightcyan;
    box-shadow: 0px 0px 6px 1px rgba(160,216,255,0.6);
}

#a-track { left: calc(20% - 2px); }
#s-track { left: calc(40% - 2px); }
#d-track { left: calc(60% - 2px); }
#f-track { left: calc(80% - 2px); }

.note {
    position: absolute;
    width: 30px;
    height: 7px;
    top: -70px;
    left: -13px;
    background-color: lightcyan;
    box-shadow: 0px 0px 6px 1px rgba(160,216,255,0.6);
}

@keyframes moveNote {
    0% { top: 0px }
    100% { top: 513px }
}

/* score, combo, controls, progress bar */

#meter { 
    height: 4px;
    width: 900px;
    position: absolute;
    background: #145991;
    top: 15px;
    left: 150px;
    z-index: 3500;
    opacity: 90%;
}

#meter span {
    display: block;
    height: 100%;
}

#progress {
    background-color: #e0ffff;
    width: 0;
    box-shadow: 0px 0px 6px 2px rgba(160,216,255,0.6);
}

@keyframes progressBar {
  0% { width: 0%; }
  100% { width: 100%; }
}

#score,
#controls,
#combo {
    text-shadow: 0px 0px 5px rgba(142,204,206,0.87);
    z-index: 2;
    font-family: sans-serif;
}

.letters {
    color: #d2ecff;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 1px rgba(160,216,255,0.6);
    line-height: 65px;
    padding: 0;
    border: solid 3px lightcyan;  
}

.letters.pressed {
    background: #d2ecff;
    color: #000;
    text-shadow: 0px 0px 5px rgba(17, 81, 149,0.6);
}

#score,
#combo {
    color: #e0ffff;
    font-weight: 600;
    width: 300px;
    position: absolute;
    bottom: 130px;
}

#score {
    text-align: right;
}

#combo {
    right: 0;
}


.text {
    font-size: 16px;
}

.number {
    font-size: 48px;
}

#controls {
    width: 350px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
}


/* =============================================================================
| TRANSITION ELEMENTS
! This does not work...
============================================================================= */
/* #game {
    -webkit-transition: all s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear;
}
#game #track {
    -webkit-transition: background 1s linear, box-shadow 1s linear;
    -moz-transition: background 1s linear, box-shadow 1s linear;
    transition: background 1s linear, box-shadow 1s linear;
}

#game #track .track,
#game #track .track .note,
#game #track #hit-box,
#game #progress {
    -webkit-transition: background-color 1s linear, box-shadow 1s linear;
    -moz-transition: background-color 1s linear, box-shadow 1s linear;
    transition: background-color 1s linear, box-shadow 1s linear;
}

#game #track .track,
#game #track #hit-box,
#game #track .track .note,
#game #progress {
    -webkit-transition: box-shadow 1s linear;
    -moz-transition: box-shadow 1s linear;
    transition: box-shadow 1s linear;
}

#game #controls .letters {
    -webkit-transition: color 1s linear, border 1s linear, text-shadow 1s linear;
    -moz-transition: color 1s linear, border 1s linear, text-shadow 1s linear;
    transition: color 1s linear, border 1s linear, text-shadow 1s linear;
}

#game #controls .letters.pressed {
    -webkit-transition: color 1s linear, background 1s linear, text-shadow 1s linear;
    -moz-transition: color 1s linear, background 1s linear, text-shadow 1s linear;
    transition: color 1s linear, text-shadow 1s linear;
}

#game #score,
#game #combo,
#game .hit {
    -webkit-transition: color 1s linear, text-shadow 1s linear;
    -moz-transition: color 1s linear, text-shadow 1s linear;
    transition: color 1s linear, text-shadow 1s linear;
}

#game #meter {
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    transition: background-color 1s linear;
} */

/* =============================================================================
| RED COLOR STYLES
============================================================================= */
#game.red #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(149, 17, 46) 100%);
    box-shadow: 0px -2px 3px 3px rgba(255, 160, 184, 0.6);
}

#game.red #track .track,
#game.red #track .track .note,
#game.red #track #hit-box,
#game.red #progress {
    background-color: #fff1f7;
}

#game.red #track .track {
    box-shadow: 0px -2px 3px 3px rgba(255, 160, 184, 0.6);
}

#game.red #track #hit-box,
#game.red #track .track .note,
#game.red #progress {
    box-shadow: 0px 0px 6px 2px rgba(255, 160, 184, 0.6);
}

#game.red #controls .letters {
    color: #fff1f7;
    border: solid 3px #fff1f7;
    text-shadow: 0px 0px 5px rgba(255, 160, 184, 0.8);
}

#game.red #controls .letters.pressed {
    background: #fff1f7;
    color: #000;
    text-shadow: 0px 0px 5px #95112e;
}

#game.red #score,
#game.red #combo,
#game.red .hit {
    color: #fff1f7;
    text-shadow: 0px 0px 5px rgba(255, 160, 184, 0.8);
}

#game.red #meter {
    background-color: #95112e;
}

/* =============================================================================
| PINK COLOR STYLES
============================================================================= */
#game.pink #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(211, 80, 204) 100%);
    box-shadow: 0px -2px 3px 3px rgba(255, 160, 250, 0.6);
}

#game.pink #track .track,
#game.pink #track .track .note,
#game.pink #track #hit-box,
#game.pink #progress {
    background-color: #fdf1ff;
}

#game.pink #track .track {
    box-shadow: 0px -2px 3px 3px rgba(255, 160, 250, 0.6);
}

#game.pink #track #hit-box,
#game.pink #track .track .note,
#game.pink #progress {
    box-shadow: 0px 0px 6px 2px rgba(255, 160, 250, 0.6);
}

#game.pink #controls .letters {
    color: #fdf1ff;
    border: solid 3px #fdf1ff;
    text-shadow: 0px 0px 5px rgba(255, 160, 250, 0.8);
}

#game.pink #controls .letters.pressed {
    background: #fdf1ff;
    color: #000;
    text-shadow: 0px 0px 5px #d350cc;
}

#game.pink #score,
#game.pink #combo,
#game.pink .hit {
    color: #fdf1ff;
    text-shadow: 0px 0px 5px rgba(255, 160, 250, 0.8);
}

#game.pink #meter {
    background-color: #d350cc;
}

/* =============================================================================
| GREEN COLOR STYLES
============================================================================= */
#game.green #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(17, 149, 94) 100%);
    box-shadow: 0px -2px 3px 3px rgba(160, 255, 219, 0.6);
}

#game.green #track .track,
#game.green #track .track .note,
#game.green #track #hit-box,
#game.green #progress {
    background-color: #f1fffa;
}

#game.green #track .track {
    box-shadow: 0px -2px 3px 3px rgba(160, 255, 219, 0.6);
}

#game.green #track #hit-box,
#game.green #track .track .note,
#game.green #progress {
    box-shadow: 0px 0px 6px 2px rgba(160, 255, 219, 0.6);
}

#game.green #controls .letters {
    color: #f1fffa;
    border: solid 3px #f1fffa;
    text-shadow: 0px 0px 5px rgba(160, 255, 219, 0.8);
}

#game.green #controls .letters.pressed {
    background: #f1fffa;
    color: #000;
    text-shadow: 0px 0px 5px #11955e;
}

#game.green #score,
#game.green #combo,
#game.green .hit {
    color: #f1fffa;
    text-shadow: 0px 0px 5px rgba(160, 255, 219, 0.8);
}

#game.green #meter {
    background-color: #11955e;
}

/* #00B1FF */
/* =============================================================================
| BLUE COLOR STYLES
============================================================================= */
#game.blue #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(0, 177, 255) 100%);
    box-shadow: 0px -2px 3px 3px rgba(160, 225, 255, 0.6);
}

#game.blue #track .track,
#game.blue #track .track .note,
#game.blue #track #hit-box,
#game.blue #progress {
    background-color: #f1faff;
}

#game.blue #track .track {
    box-shadow: 0px -2px 3px 3px rgba(160, 225, 255, 0.6);
}

#game.blue #track #hit-box,
#game.blue #track .track .note,
#game.blue #progress {
    box-shadow: 0px 0px 6px 2px rgba(160, 225, 255, 0.6);
}

#game.blue #controls .letters {
    color: #f1faff;
    border: solid 3px #f1faff;
    text-shadow: 0px 0px 5px rgba(160, 225, 255, 0.8);
}

#game.blue #controls .letters.pressed {
    background: #f1faff;
    color: #000;
    text-shadow: 0px 0px 5px #00b1ff;
}

#game.blue #score,
#game.blue #combo,
#game.blue .hit {
    color: #f1faff;
    text-shadow: 0px 0px 5px rgba(160, 225, 255, 0.8);
}

#game.blue #meter {
    background-color: #00b1ff;
}

/* =============================================================================
| BLACK COLOR STYLES
============================================================================= */
#game.black #track {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgb(92, 92, 92) 100%);
    box-shadow: 0px -2px 3px 3px rgba(206, 206, 206, 0.6);
}

#game.black #track .track,
#game.black #track .track .note,
#game.black #track #hit-box,
#game.black #progress {
    background-color: #f3f3f3;
}

#game.black #track .track {
    box-shadow: 0px -2px 3px 3px rgba(206, 206, 206, 0.6);
}

#game.black #track #hit-box,
#game.black #track .track .note,
#game.black #progress {
    box-shadow: 0px 0px 6px 2px rgba(206, 206, 206, 0.6);
}

#game.black #controls .letters {
    color: #f3f3f3;
    border: solid 3px #f3f3f3;
    text-shadow: 0px 0px 5px rgba(206, 206, 206, 0.8);
}

#game.black #controls .letters.pressed {
    background: #f3f3f3;
    color: #000;
    text-shadow: 0px 0px 5px #494949;
}

#game.black #score,
#game.black #combo,
#game.black .hit {
    color: #f3f3f3;
    text-shadow: 0px 0px 5px rgba(206, 206, 206, 0.8);
}

#game.black #meter {
    background-color: #494949;
}