#output {
    position: absolute;
    left: calc(100vw / 2 - 450px);
    top: 60px;
}

body {
    background: #000000;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/* Game */
#track {
    height: 370px;
    width: 120px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, #115195 100%);
    box-shadow: 0px 0px 6px 3px rgba(160,216,255,0.6);
    -webkit-transform: perspective(200px) rotateX(40deg);
    transform: perspective(200px) rotateX(40deg);
    margin: 0 auto;
    position: relative;
    /* top: -130px; */
    /* top: -100px; */
    top: -100px;
    z-index: 10;
}

#hit-box {
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: #e0ffff;
    top: 366px;
    box-shadow: 0px 0px 6px 2px rgba(160,216,255,0.6);
}

#a-track,
#s-track,
#d-track,
#f-track {
    position: absolute;
    height: 370px;
    background-color: #e0ffff;
    box-shadow: 0px 0px 6px 1px rgba(160,216,255,0.6);
}

#a-track {
    width: 1.5px;
    left: calc(20% - 1px);
}

#s-track {
    width: 2px;
    left: calc(40% - 1px);
}

#d-track {
    width: 1.5px;
    left: calc(60% - 1px);
}

#f-track {
    width: 2px;
    left: calc(80% - 1px);
}

.note {
    position: absolute;
    width: 15px;
    height: 5px;
    top: -70px;
    left: -7px;
    background-color: #e0ffff;
    box-shadow: 0px 0px 6px 1px rgba(160,216,255,0.6);
}

@keyframes moveNote {
    0% { top: 0px }
    100% { top: 366px }
}

/* score, combo, controls, progress bar */

#meter { 
    height: 6px;
    width: 93%;
    position: absolute;
    background: #145991;
    top: 15px;
    left: 36px;
    z-index: 3500;
    opacity: 90%;
}

#meter span {
    display: block;
    height: 100%;
}

#progress {
    background-color: #d2effc;
    animation: progressBar 148.4s linear;
    animation-fill-mode: both; 
    box-shadow: 0px 0px 3px 1px rgba(160,216,255,0.6);
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

#score,
#controls,
#combo {
    text-shadow: 0px 0px 5px rgba(142,204,206,0.87);
    z-index: 2;
    font-family: 'Noto Sans', sans-serif;
}

.letters {
    color: #e0ffff;
    /* background-color: ; */
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 1px rgba(160,216,255,0.6);
    padding: 4px 3px 0 3px;
    border: solid 2px #e0ffff;  
}


.text {
    font-size: 8px;
    text-align: right;
}

.number {
    font-size: 25px;
    text-align: right;
}

#score {
    color: #eefeff;
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 3px;
}

#controls {
    width: 260px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    left: -1px;
    display: flex;
    justify-content: space-evenly;
}

#combo {
    color: #eefeff;
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 0px;
    top: -67px;
}

/* Color changers for song intensity and your state of the game from normal to hard, and if you miss too many notes then losing*/

/* score div */

#score.normal,
#combo.normal,
#controls.normal {
    text-shadow: 0px 0px 5px rgba(142,204,206,0.87);
    color: #e0ffff;
}

#score.hard,
#combo.hard,
#controls.hard {
    text-shadow: 0px 0px 5px rgba(255, 223, 249, 0.8);
    color: #feecfc;
}

#score.losing,
#combo.losing,
.letters.losing {
    text-shadow: #ffffff;
    color: #ffffff;
}

.letters.normal {
    border: solid 1.5px #e0ffff;  
    color: #e0ffff;
}

.letters.hard {
    box-shadow: 0px 0px 3px 1px rgba(255, 223, 249, 0.6);
    border: solid 1.5px #fed8fd;  
}

.letters.losing {
    border: solid 1.5px #ffffff;  
    color: #ffffff;
}

#hit-box.normal,
#progress.normal,
#a-track.normal,
#s-track.normal,
#d-track.normal,
#f-track.normal {
    background-color: #e0ffff;
    box-shadow: 0px 0px 6px 2px rgba(160,216,255,0.6);
}

#hit-box.hard,
#progress.hard,
#a-track.hard,
#s-track.hard,
#d-track.hard,
#f-track.hard {
    background-color: #fef5fd;
    box-shadow: 0px 0px 6px 2px rgba(255, 223, 249, 0.6);
}

#hit-box.losing,
#progress.losing,
#a-track.losing,
#s-track.losing,
#d-track.losing,
#f-track.losing {
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.6);
}

#track.normal {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, #115195 100%);
    box-shadow: 0px 0px 6px 3px rgba(160,216,255,0.6);
}

#track.hard {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, #9e6396 100%);
    box-shadow: 0px 0px 6px 3px rgba(255, 223, 249, 0.6);
}

#track.losing {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, #4c4c4c 100%);
    box-shadow: 0px 0px 6px 3px rgba(233, 233, 233, 0.6);
}

/* song progress meter */

#meter.normal {
    background-color: #145991;
    box-shadow: ;
}

#meter.hard {
    background-color: #603d5c;
    box-shadow: ;
}

#meter.losing {
    background-color: #5f5f5f;
    box-shadow: ;
}